<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<targets>
		<!-- Define the file target for logging -->
		<target name="logfile" xsi:type="File" fileName="F:\WatchWareApi\Logs\api-log.txt"
				layout="${longdate} ${level} ${message} ${exception}" />
	</targets>
	<rules>
		<!-- Log all information to the file target -->
		<logger name="*" minlevel="Debug" writeTo="logfile" />
	</rules>
</nlog>
	