<?xml version="1.0" encoding="utf-8"?>
<log4net>
	<root>
		<level value="ALL" />
		<appender-ref ref="FileAppender" />
	</root>

	<appender name="FileAppender" type="log4net.Appender.RollingFileAppender">
		<!-- Main log file location -->
		<file value="F:/NKSSLogs/EnviroMonitor.log" />
		<appendToFile value="true" />

		<!-- Rolling settings -->
		<rollingStyle value="Size" />
		<maximumFileSize value="10MB" />
		<maxSizeRollBackups value="5" />
		<!-- Keeps last 5 logs -->

		<!-- Ensure correct locking to avoid issues -->
		<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />

		<!-- Log formatting -->
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
		</layout>
	</appender>
</log4net>
