<?xml version="1.0" encoding="utf-8"?>
<log4net>
	<root>
		<level value="ALL" />
		<appender-ref ref="FileAppender" />
	</root>

	<appender name="FileAppender" type="log4net.Appender.RollingFileAppender">
		<!-- Main log file location -->
		<file value="F:/NKSSLogs/EnviroMonitor.log" />
		<appendToFile value="true" />

		<!-- Rolling settings -->
		<rollingStyle value="Size" />
		<maximumFileSize value="10MB" />
		<maxSizeRollBackups value="1" />

		<!-- Move old logs to an archive folder -->
		<datePattern value="'.yyyy-MM-dd-HH-mm'.log" />
		<staticLogFileName value="true" />
		<preserveLogFileNameExtension value="true" />

		<!-- Archive folder for old logs -->
		<param name="File" value="F:/NKSSLogs/EnviroMonitorArchive/EnviroMonitor.log" />
		<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />

		<!-- Log formatting -->
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
		</layout>
	</appender>
</log4net>
